<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" type="text/css" media="all"  href="@{'/public/stylesheets/core/libraries.css'}" />
        <link rel="stylesheet" type="text/css" media="all"  href="@{'/public/stylesheets/core/template/template.css'}" />
        <link rel="stylesheet" type="text/css" media="all" href="@{'/public/stylesheets/core/grid/grids.css'}" />
        <link rel="stylesheet" type="text/css" media="all" href="@{'/public/stylesheets/core/content.css'}" />
        <link rel="stylesheet" type="text/css" media="all" href="@{'/public/stylesheets/core/module/mod.css'}" />
        <link rel="stylesheet" type="text/css" media="all" href="@{'/public/stylesheets/core/module/mod_skins.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <h1>FMKCMS test site</h1>
        <div class="page liquid">
            <div class="head">
                <h2>Head</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="body">
                <div class="leftCol">
                    <h2>menu</h2>
                    <ul>
                        <li>#{pageLink "index" /}</li>
                        <li>#{pageLink "another_page" /}</li>
                        <li><a href="@{PageController.pagestag("azerty")}">tag azerty</a></li>
                        <li><a href="/crud/">admin</a></li>
                        <li><a href="@{AdminCMS.index()}">real admin</a></li>
                    </ul>

                    <hr />
                    %{if (mongo.MongoEntity.getDs().find(models.PageRef.class).asList().size() > 0) {}%
                    <ul>
                        #{list mongo.MongoEntity.getDs().find(models.PageRef.class), as:'pr'}
                        <li>#{pageLink pr.urlId /}</li>
                        #{/list}
                    </ul>
                    %{} else {}%
                    No page to list.
                    %{}}%

                </div>
                <div class="rightCol">
                    <h2>Access</h2>
                    <p>login : azerty</p>
                    <p>pass : azerty</p>

                    #{form @PageController.searchPage(),method:'GET' , id:'searchForm', enctype:'multipart/form-data' }
                    #{field 'q'}
                    <p>
                        <label>Find : </label>
                        <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"> </input>
                        <span class="error">${field.error}</span>
                    </p>
                    #{/field}
                    <input type="submit" value="search"></input>
                    #{/form}
                </div>
                <div class="main">
                    #{doLayout /}
                </div>
            </div>
            <div class="foot">
                <h2>Foot</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </body>
</html>
